body{
    font-family: sans-serif;
    text-align: center;
}

.firstBox {
    display:block;
  }

.backGround {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #1F618D ;
    width: 70%;
    height: 500px;

}

.welcome {

    position: absolute;
    background:#85C1E9;
    background-position: center;
    opacity: 80%;
    margin: 3%;
    padding: 10%;
    height: 250px;
    width: 65%;
    font: 1em sans-serif;
    text-align: center;
    line-height: 130%;
    color: #1F618D;
  }

.showButton{

    background-color:  #1F618D;
    border: darkgray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.titleWelcome{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
}
.list{

    float:center;

}
.imagenRight {
    position: fixed;
    top: 0px;
    left: 65%;
    background-image: url("https://i.ibb.co/JzKzs5T/nueva.jpg");
    background-repeat: repeat-y;
    width: 40%;
    height: 500px;
}
h3{
    font-size: 0.9em;
}

h1{
    text-align: center;
    font-family: Verdana;
    color: #1F618D;
    size: 100 px;
    text-transform: uppercase;
}
.restriction{
    text-align: center;
    font-size: 1.2em;
}
.instructions{
    background-color: #1F618D;
    color: white;
    font-size: 0.9em;
    width: 60%;
    display: inline-block;
    text-align: left;
}

.principalPage{
    display:none;
}

#cipherButton{
    background-color:  #1F618D;
    border: #85C1E9;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 10%;
}
#decipherButton{
    background-color:  #1F618D;
    border: #85C1E9;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
}
